<div class="wmd-wrapper" id="{{ id }}-wmd-wrapper">
    <div class="wmd-panel">
        <div id="{{ id|safe }}_wmd_button_bar"></div>
        <textarea{{ attrs|safe }}>{{ body }}</textarea>
    </div>
    {% if show_preview %}
        <div id="{{ id|safe }}_wmd_preview" class="wmd-panel wmd-preview"></div>
    {% endif %}
</div>
<div id="insertImageDialog" title="Insert Image">
    <h4>
        From the web</h4>
    <p>
        <input type="text" placeholder="Enter url e.g. http://yoursite.com/image.jpg" />
    </p>
    <h4>
        From your computer</h4>
    <span class="loading-small"></span>
    <input type="file" name="file" id="file" data-action="{% url 'pagedown_upload' %}"/>

</div>
