[submodule "pagedown/static/pagedown"]
    path =  pagedown/static/pagedown
    url =   git://github.com/timmyomahony/pagedown.git
[submodule "pagedown/static/pagedown-extra"]
	  path = pagedown/static/pagedown-extra
	  url = https://github.com/jmcmanus/pagedown-extra.git