include *.txt
include *.md
include pagedown/static/admin/css/pagedown.css
include pagedown/static/admin/js/pagedown.js
include pagedown/static/pagedown_init.js
include pagedown/templates/pagedown/**/*
recursive-include pagedown/static/pagedown *.js *.png *.txt *.html *.css

include pagedown/static/pagedown-extra/Markdown.Extra.js
include pagedown/static/pagedown-extra/pagedown/Markdown.Converter.js