include *.txt
include *.md
include pagedown/static/admin/css/pagedown.css
include pagedown/static/pagedown_init.js
include pagedown/static/bootstrap/wmd-bootstrap.css
recursive-include pagedown/static/pagedown *.js *.png *.txt *.html *.css
