<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Django Pagedown</title>
    <meta name="description" content="Django Pagedown example">
    <meta name="author" content="Django Pagedown example">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
</body>
</html>