.wmd-wrapper{
    display: inline-block;
}
.wmd-panel{
    margin-left:0;
    width: 610px;
}
.wmd-button-row{
    margin-left: 0 !important;
}
.wmd-input{
    background-color: white;
}
.wmd-preview{
    margin-top: 15px;
    padding: 0 15px;
    background-color: #f8f8f8;
    color: #555555;
    font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
    line-height:1.5em;
    font-size: 1em;
    width: 585px;
}
.wmd-preview *{
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif !important;
}

/**
 * Add some CSS to overwrite the Django admin CSS for pretty markdown
 * Adapted from: https://raw.github.com/clownfart/Markdown-CSS/master/markdown.css
 **/
.wmd-preview a{ color: #5b80b2; text-decoration:underline;}
.wmd-preview a:visited{ color: #0b0080; }
.wmd-preview a:hover{ color: #0645ad; }
.wmd-preview a:active{ color:#faa700; }
.wmd-preview a:focus{ outline: thin dotted; }
.wmd-preview a:hover, .wmd-preview a:active{ outline: 0; }
.wmd-preview ::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
.wmd-preview ::selection{background:rgba(255,255,0,0.3);color:#000}
.wmd-preview a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
.wmd-preview a::selection{background:rgba(255,255,0,0.3);color:#0645ad}
.wmd-preview p{
    margin:1em 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
}
.wmd-preview img{ max-width:100%; }
.wmd-preview h1,.wmd-preview h2,.wmd-preview h3,.wmd-preview h4,.wmd-preview h5,.wmd-preview h6{
    font-weight:normal;
    color:#111;
    line-height:1em;
    margin-bottom: 0.75em;
    padding: 0;
    background: none;
}
.wmd-preview h4,.wmd-preview h5,.wmd-preview h6{ font-weight: bold; }
.wmd-preview h1{ font-size:2.5em; }
.wmd-preview h2{ font-size:2em; }
.wmd-preview h3{ font-size:1.5em; }
.wmd-preview h4{ font-size:1.2em; }
.wmd-preview h5{ font-size:1em; }
.wmd-preview h6{ font-size:0.9em; }

.wmd-preview blockquote{
    color:#666666;
    margin:0;
    padding-left: 1.5em;
    border-left: 0.5em #EEE solid;
}
.wmd-preview hr {display: block;
    height: 0px;
    border: 0;
    font-style: italic;
    border-bottom: 1px solid #CCC;
    margin: 25px 0 20px 0;
    padding: 0;
}
.wmd-preview pre, .wmd-preview code, .wmd-preview kbd, .wmd-preview samp { color: #000; font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 0.98em; }
/* Code inline */
.wmd-preview code {
    font-family: Consolas, "Liberation Mono", Courier, monospace, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 2px;
    font-size: 0.95em;
    color: #444
}
/* Block code */
.wmd-preview pre code {
    background-color: transparent;
    border: 0;
    line-height: 1.5em;

    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 1em;
}
.wmd-preview pre{
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin:1.5em 0 1.5em 0;
    padding: 1em;
    background-color: #333;
    color: white;
}
.wmd-preview pre code{
    color:white;
}
.wmd-preview b, .wmd-preview strong { font-weight: bold; }

.wmd-preview dfn { font-style: italic; }

.wmd-preview ins { background: #ff9; color: #000; text-decoration: none; }

.wmd-preview mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

.wmd-preview sub, .wmd-preview sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
.wmd-preview sup { top: -0.5em; }
.wmd-preview sub { bottom: -0.25em; }

.wmd-preview ul, .wmd-preview ol {
    margin: 1em 0 !important; padding: 0 0 0 2em !important;
}
.wmd-preview ul li, .wmd-preview ol li{
    font-size: 14px !important;
    margin-bottom: 0.75em;
}
.wmd-preview li p:last-child { margin:0 }
.wmd-preview dd { margin: 0 0 0 2em; }

.wmd-preview img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

.wmd-preview table { border-collapse: collapse; border-spacing: 0; }
.wmd-preview td { vertical-align: top; }

/* Inlines */
.inline-related .wmd-input {
    height: 150px;
}
